# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories
!*/

# Extensions
!*.html
!*.py
!*.rst
!*.sample
!*.toml
!*.txt
!*.yaml

# Files
!.gitignore
!make.bat
!Makefile*
!Pipfile
!poetry.lock

# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories
docs/build*

# Extensions


# Files
