# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories
!*/

# Extensions
!*.py
!*.rst
!*.sample
!*.toml

# Files
!.gitignore
!make.bat
!Makefile*
!Pipfile
!poetry.lock

# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories


# Extensions


# Files



